.empty-page {
  height: 100vh;

  h1 {
    text-align: center;
    margin: 0;
  }
  
  .modal__cover {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    max-height: 100vh;
    z-index: 2;
  
    .modal-enter {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 10px;
      border: 1px solid #000000 {
        radius: 10px;
      };
      background: #ffffff;
      width: 500px;
      height: 350px;
      z-index: 1;
      text-align: center;
  
      >div {
        margin: 10px;
  
        label {
          text-align: left;
          display: inline-block;
          width: 150px;
        }
      }
  
      p {
        color: red;
      }
  
      .modal__button_enter {
        width: 120px;
        text-align: center;
        margin: 10px auto;
      }
    }
  }
}
