.content {
  min-height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;

  &>div {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(var(--columns-number), 1fr);
  }
}