:root {
  --main-color: ;
  --background-photo: ;
  --columns-number: ;
  --link-size: ;
}
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
}

.App {
  background: var(--main-color);
}

.App-photo {
  background: var(--background-photo) no-repeat center;
}