.visited-sites-table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 20px;

  caption {
    padding-bottom: 5px;
  }

  thead {
    tr {
      th {
        width: calc(90%/2);
        border: 1px solid #ffffff;
        font-size: 16px;

        &:first-child {
          width: 10%;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        width: calc(90%/2);
        border: 1px solid #ffffff;
        font-size: 16px;

        &:first-child {
          width: 10%;
        };

        &:last-child {
          word-break: break-all;

          a {
            &:visited {
              color: none;
            }
          }
        }
      }
    }
  }
}